
* { 
    overflow-x: hidden;
}

body {
    background-color: rgb(173, 208, 209);
}

/* ------------------------------------------------------------------------------------------ */

.card {
    display: inline-flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-between;

    min-width: 15%;
    
    max-width: 30%;

    border: 1px solid;
    padding: 0.5rem;

    overflow: hidden;


}

.card > img {
    padding: 1rem;
    width: 100%;
}

.card > p {
    flex-direction: column;
    overflow: hidden;


}
                                                                                
.card:hover {
    transform: translateY(-5px);
    transition: all 0.1s;
    
}


/* ------------------------------------------------------------------------------------------ */


header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;


    padding: 1rem;
    flex-direction: row;
    align-content: center;
    align-items: center;
    
}

header > * {
    margin: 1rem;
}

header > img {
    scale: 70%;
    float: left;
    background-color: rgb(141, 171, 172);
}

header > img:hover {
    background-color: rgb(120, 120, 120);
    transform: translateY(-5px);
    transition: all 0.1s;
    
}

header > img:active {
    background-color: green;
}


header > p {
    font-size: 2.5rem;
}

header > a {
    flex-wrap: wrap;

    text-decoration: none;  
    color: black;  
    border: none;
    background-color: rgb(141, 171, 172);
    font-size: 4rem
}

header > a:hover {
    background-color: rgb(120, 120, 120);
    transform: translateY(-5px);
    transition: all 0.1s;
    
}

header > a:active {
    background-color: green;
}



/* ------------------------------------------------------------------------------------------ */



main {
    display: inline-flex;

    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: column;

    align-items: center;
    align-items: center;
    justify-content: center;

    max-width: 90%;
}

main > h1 {
    font-size: 2.25rem;
  
}

main > p {
    font-size: 1.125rem;
    overflow: visible;
    flex-direction: row;
}



/* ------------------------------------------------------------------------------------------ */

hr {
    max-width: 70%;
    
}

footer {
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    

    margin-top: 5px;
    width: 100%;
    font-size: 16px 1rem;
}


@media (max-width: 750px) { 
    header {
        flex-direction: column;
    }

    aside {
        visibility: hidden;
    }

    .card {
        max-width: 80%;
    }

}